.example-enter {
    opacity: 0.04;
}

.example-enter.example-enter-active {
    opacity: 5;
    transition: opacity 50s ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.04;
    transition: opacity 50s ease-in;
}